{% block signIn %}
    <div class="">
        <div class="modal">
            <form name="signIn" class="form" method="post" id="signIn">
                <fieldset class="borderForm">
                    <p class="title"> Login </p>
                    <div>
                        <label  for="loginEmail">Email </label><br>
                        <input type="email" id="loginEmail" name="email"><br>
                    </div>
                    <div >
                        <label  for="loginPassword">password</label><br>
                        <input type="password" id="loginPassword" name="password"><br>
                    </div>
                    <input type="submit" class="button" value="connection">
                    <p class="text-info">Need an account? <a href="#">register</a></p>
                    <p class="forgotPassword"><a href="#">Forgot your password ?</a></p>
                </fieldset>
            </form>
            <div class="close"></div>

        </div>
    </div>
{% endblock %}